<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body>
    <header>
      <%- include('./partials/header') %>

    </header>
    <main>
    <div class="container">
        <div class="formulario mt-5">
          <h2>Agregar Producto</h2>
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="floatingTextarea">Descripción</label>
                    <textarea class="form-control" id="floatingTextarea" name="description"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" name="price">
                  </div>
                  <div class="mb-3">
                    <label for="category" class="form-label">Categoría</label>

                    <select id="category" class="form-select" name="category">
                        <option value="" selected hidden>Seleccione la categoría</option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria %> "><%= categoria %> </option>
                         
                        <% }) %>
                      </select>
                  </div>
                  <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</main>





    </main>
    <footer>

    </footer>
    <%- include('./partials/scripts') %>
  </body>

</html>