<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body>
    <header>
      <%- include('./partials/header') %>

    </header>
<main>

  <div class="container">
    <div class="formulario w-75">
        <div class="card mb-3  p-5">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/<%= detalleProducto.image %>" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= detalleProducto.title %> </h5>
                  <p class="card-text"><%= detalleProducto.description %> </p>
                  <h4 class="card-text"><small>u$s</small> <%= detalleProducto.price.toFixed(2) %> </h4>
                </div>
              </div>
              <a href="/" class="btn btn-primary">Volver</a>
            </div>
          </div>
    </div>
   
</div>

    </main>
    <footer>

    </footer>
    <%- include('./partials/scripts') %>
  </body>

</html>