<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <header>
      <%- include('./partials/header') %>

    </header>
    

    <main class="container">
      <section>
      <h2>Notebooks</h2>
          <% notebook.forEach(stock => { %> 
        <div class="card"> 
          <img src="/images/<%= stock.image %> " class="card-img-top" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= stock.title %> </h5>
            <p class="card-text"><%= stock.description %> </p>
            <a href="/products/detalle/<%= stock.id %> " class="btn btn-primary">Ver más</a>
            <a href="/" class="btn btn-primary">Eliminar</a>

          </div>
        </div>
      </div> 
    </section>
    <% }) %>

    <section>
      <h2>Computadoras de Escritorio</h2>
          <% pcescritorio.forEach(stock => { %>      
        <div class="card"> 
          <img src="/images/<%= stock.image %> " class="card-img-top" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= stock.title %> </h5>
            <p class="card-text"><%= stock.description %> </p>
            <a href="/products/detalle/<%= stock.id %> " class="btn btn-primary">Ver más</a>
            <a href="/" class="btn btn-primary">Eliminar</a>
          </div>
        </div>
      </div> 
    </section>
    <% }) %>

    <section>
      <h2>Componentes</h2>
          <% componente.forEach(stock => { %>      
        <div class="card"> 
          <img src="/images/<%= stock.image %> " class="card-img-top" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"><%= stock.title %> </h5>
            <p class="card-text"><%= stock.description %> </p>
            <a href="/products/detalle/<%= stock.id %> " class="btn btn-primary">Ver más</a>
            <a href="/" class="btn btn-primary">Eliminar</a>
            

          </div>
        </div>
      </div> 
    </section>
    <% }) %>

    </main>
    <footer>
    </footer>
    <%- include('./partials/scripts') %>
  </body>

</html>